<% include partials/header%>
<h1><%= campground.name %></h1>

<img src= "<%= campground.image %>" width="300">
<p><%= campground.description %></p>
<a href="/campgrounds" class="btn btn-primary">Back</a>

<% include partials/footer%>